/**
 * 以下内容会被 formula.config.js 中 stylus.import 注入到全局
 */

/* ===== stylus 参数 ====== */

// reds 内置相关的层级 z-Index
// $z_index_navbar = 10010
// $z_index_modal = 1000002
// $z_index_toast = 1001000

/* ===== stylus mixin ====== */

// 文字加粗
font-weight-bold()
  font-weight 600
  .andr &
    font-weight 700