/**
 * 以下内容会通过 src/index.ts 注入到全局
 */


/**========== 小红书数字和英文字体 ================*/

// red number
.red-num
  font-family $font_family_number
// red number medium
.red-num-m
  font-family $font_family_number_medium
// red number bold
.red-num-b
  font-family $font_family_number_bold

/**========= 复写 reds 全局样式 ================*/
.reds-navbar
  .reds-navbar-left[class]
    left 8px
  .reds-navbar-right[class]
    right 8px